<h1>Quiz Index. Should only have the quizzes by current user</h1>
<p>
  <%= link_to 'Create a new Quiz', new_quiz_path %>
</p>

<ul>
  <%= render partial: 'application/list_with_links', collection: @quizzes, as: :item, locals: {path: 'quiz_path'} %>
</ul>
