<% if object.errors.any? %>
  <div id="error_explanation">

    <ul class="text-red-600 text-xs mt-5">
    <% object.errors.full_messages.each do |txt| %>
      <li><%= txt %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%# Used by quizzes/_form %>
<%# Used by rounds/_form %>
<%# Used by questions/_form %>